[Unit]
Description=Viam Services Agent
After=NetworkManager.service
After=bluetooth.service
StartLimitIntervalSec=0
OnFailure=viam-server-detached.service

[Service]
Type=exec
Restart=on-success
RestartSec=5
User=root
TimeoutSec=240
ExecStart=/opt/viam/bin/viam-agent --config /etc/viam.json --enable-syscfg --enable-networking
KillMode=mixed
FinalKillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
